/* Reset CSS */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}
/* HTML */
html {
  font-size: 16px; 
  scroll-behavior: smooth; 
  -webkit-text-size-adjust: 100%; 
  -moz-text-size-adjust: 100%; 
  text-size-adjust: 100%; 
}
/* Body */
body {
  min-height: 100vh; 
  line-height: 1.5;
}
/* Listas */
ul, ol {
  list-style: none;
}
/* Enlaces */
a {
  text-decoration: none; 
  color: inherit; 
}
/* Imagenes */
img, picture, video, canvas, svg {
  display: block; 
  max-width: 100%; 
}
/* Formulario */
input, button, textarea, select {
  font: inherit;
}
/* Botones */
button {
  cursor: pointer; 
  border: none; 
  background-color: transparent;
}