/* Estilos para el componente ContactInfo */

/* ===================================================================== */
/* === SECCIÓN DE INFORMACIÓN DE CONTACTO === */
/* ===================================================================== */
.ContactInfo {
  text-align: center;
}
/* ===================================================================== */
/* === TÍTULO DE CONTACTO === */ 
/* ===================================================================== */
.ContactInfo-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
/* ===================================================================== */
/* === TEXTO DE CONTACTO === */
/* ===================================================================== */
.ContactInfo-text {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}
